html, body {
  margin: 0 auto;
  font-size: 17px;
  line-height: 1.47;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  background-color: #fff;
  color: #333;
  font-style: normal;
}

header {
  margin: 0 auto;
  height: 60px;
  background-color: #313139;
  color: #fff;
}

h2 {
  margin: 0 auto;
}

.App {
  text-align: center;
}

.news-title {
    max-height: 200px;
    overflow: hidden;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
}
.news-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.news-list li {
 list-style-type: none;
}

.news {
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  width: 400px;
}

.news::before {
  content: "";
  border-top: 1px solid black;
  padding: 5px;
  display: block;
}

.news-image {
  height: calc(100vh - 450px);
}

figure {
  margin: 0 auto;
}

.news article {
  padding: 0 15px;
}